{#
license

Copyright jingl3s
This code is free software; you can redistribute it and/or modify it
under the terms of the MIT license (see the file
LICENSE included with the repository). #}
<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Informations" name="jingl3s">

    <title>Informations</title>

    <link rel="stylesheet" href="{{dossier_rsrc_server}}infos.css">

</head>

<body>
    {#- This time is needed otherzise the display page update automatic do not work #}
    {%- set hide_time = "hidden" %}
    {%- if time %}
    {%- set hide_time = "" %}
    {%- endif %}
    <div {{hide_time}} align="center" style="top: 50%;">
        <h1>
            <a id="time"></a>
        </h1>
    </div>

    {%- if table_horaires_multi %} {%- if table_horaires_multi|length > 0 %}
    <div class="container">
        {#- - character is used to disable lines added #}
        {%- for bus_info in table_horaires_multi %}
        {%- if loop.index0 % 2 == 0 %}
        <div class="floatLeft">
            {%- else %}
            <div class="floatRight">
                {%- endif %}
                <table class="layout display responsive-table">
                    {%- if loop.index0 <= 1 %} <thead>
                        <tr class="header">
                            <td colspan="5" rowspan="1">Vers {{bus_info.TITRE}}
                                    {{bus_info.HORAIRE[0].get_horaire_formate()}}</td>
                        </tr>
                        <tr class="header">
                            <th>Heure</th>
                            <th>Prevu</th>
                            <th>Reel</th>
                            {#- <th>Api</th> -#}
                            <th>Bus</th>
                        </tr>
                        </thead>
                        {%- endif %}
                        <tbody>
                            {%- for value in bus_info.HORAIRE -%}
                            {%- if loop.first -%}{% set first=True -%}
                            {%- endif -%}
                            {%- set class_tr=loop.cycle('odd', 'even') %}
                            <tr class="{{class_tr}}">
                                <td class="horaire">{{value.get_horaire_formate()}}</td>
                                <td class="attente">{{value.temps_attente}}</td>
                                {#- <td class="attente_reel">{{value.temps_attente_reel}}</td> -#}
                                {%- if value.extra|length > 0 %}
                                <td class="attente_reel_api">{{value.extra.api}}{% if
                                    value.extra.api_full.schedule_relationship|int != 0 %}
                                    ({{value.extra.api_full.schedule_relationship}}){% endif %}</td>
                                {%- else %}
                                <td class="attente_reel_api"></td>
                                {%- endif %}
                                <td class="bus">{{value.bus_id}}</td>
                            </tr>
                            {%- endfor %}
                        </tbody>
                </table>
            </div>
            {%- endfor %}
        </div>
        {%- endif %} {%- endif %}

        {# Load the Javascript at end when any component is available #}
        <script src="web/infos.js"></script>
</body>
</html>